* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

header {
  /* background-color: rgb(4, 4, 68); */
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  line-height: 80px;
  align-items: center;
  width: 100%;
}

.logo-here {
  display: none;
}

.desktop-menu .logo-here {
  display: block;
}

.logo {
  height: 150px;
  position: relative;
  top: 15px;
}

.nav-pages {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 1.5rem;
}

.nav-pages a {
  color: white;
  text-decoration: none;
}

.nav-pages a:hover {
  text-decoration: underline;
}

.nav-socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
}

.nav-socials a {
  color: white;
  text-decoration: none;
}

.nav-socials a:hover {
  text-decoration: underline;
}

.hamburger {
  visibility: hidden;
}
.hamburger button {
  border: none;
  background: none;
  /* background-color: rgb(4, 4, 68); */
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.hamburger button:hover {
  /* background-color: rgb(12, 12, 106); */
  cursor: pointer;
}

.desktop-menu {
  display: flex;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  align-items: center;
  width: 100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(4, 4, 68); */
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.3s ease;
}

@media (max-width: 786px) {
  .hamburger {
    visibility: visible;
    position: absolute;
    left: 0px;
  }

  .desktop-menu {
    display: none;
  }
  .logo-here {
    text-align: center;
    display: block;
  }

  /* When menu is open */
  .show-menu {
    opacity: 1;
    transform: translateY(0);
  }
  nav {
    height: 50px;
    text-align: left;
  }

  .logo {
    height: 90px;
  }
  .nav-pages {
    font-size: 12px;
    height: 30px;
    gap: 10px;
    line-height: 30px;
  }
  .nav-socials {
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    gap: 15px;
  }
}
