* {
  box-sizing: border-box;
}

.bg {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.93;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.Header {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; */
}

.Footer {
  width: 100vw;
  /* height: 100vh; */
  /* position: relative; */
}

.hero {
  box-sizing: border-box;
}
